[submodule "submodules/mono"]
	path = submodules/mono
	url = https://github.com/moonrepo/git-mono-submodule-test.git
[submodule "submodules/poly"]
	path = submodules/poly
	url = https://github.com/moonrepo/git-poly-submodule-test.git
